
<div class="top-contents">
  <div class="mask">
    <h1>ぼくらの価値観 => :インストール</h1>
    <p>あなたの<span>価値観</span>を変化させ、行動へと突き動かした作品を共有しよう。</p>
    <div class="width"><a href="/posts/new"><btn class="btn btn-lg btn-outline-primary">投稿する</btn></a></div>
    <div class="width"><a href="/posts/index"><btn class="btn btn-lg btn-outline-danger">閲覧する</btn></a></div>
    <div class="links">
      <a href="/privacy_policy">プライバシーポリシー</a>
      <a href="/terms_of_service">利用規約</a>
    </div>
  </div>
</div>